<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <ul class="orders__products">
                                <% order.products.forEach(p => { %>
                                    <!-- <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li> -->
                                    <div id='map' style='width: 100px; height: 100px;'></div>
                                    <script>
                                    mapboxgl.accessToken = 'pk.eyJ1IjoieGVub3gtZ3JpeCIsImEiOiJjbDg0eWdkdDQwanIyM3Vsa3VjZ3JrdXloIn0.tu9XXSnnrxpkJ9AudPS03g';
                                    var map = new mapboxgl.Map({
                                        container: 'map',
                                        style: 'mapbox://styles/mapbox/streets-v11'
                                    });
                                    
                                    </script>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>